@model IEnumerable<ProyectoDS504_cf.Models.Personal>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listado del Personal</h1>
<hr />

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <a class="btn btn-success" asp-controller="Personal" asp-action="Create">
                <i class="fa fa-plus-circle"></i>
                Agregar Personal
            </a>
        </div>
    </div>
</div>

<br />

<div class="row">
    @if (Model.Count() > 0)
    {

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(per => per.dni)</th>
                    <th>@Html.DisplayNameFor(per => per.ap_paterno)</th>
                    <th>@Html.DisplayNameFor(per => per.ap_materno)</th>
                    <th>@Html.DisplayNameFor(per => per.nombre)</th>
                    <th>@Html.DisplayNameFor(per => per.fecha_nacimiento)</th>
                    <th>@Html.DisplayNameFor(per => per.genero)</th>
                    <th>@Html.DisplayNameFor(per => per.sueldo)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reg in Model)
                {
                    <tr>
                        <td>@reg.dni</td>
                        <td>@reg.ap_paterno</td>
                        <td>@reg.ap_materno</td>
                        <td>@reg.nombre</td>
                        <td>@reg.fecha_nacimiento</td>
                        <td>@reg.genero</td>
                        <td>@reg.sueldo</td>
                        <td>
                            <a asp-controller="Personal" asp-action="Edit"
                               asp-route-id="@reg.dni"
                               class="btn btn-outline-warning btn-sm"><i class="fas fa-edit"></i>Editar</a>

                            <a asp-controller="Personal" asp-action="Delete"
                               asp-route-id="@reg.dni"
                               class="btn btn-outline-danger btn-sm"><i class="fas fa-trash-alt"></i>Borrar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <h5>Elaborado por: SACA MACHACA CESAR</h5>
    }
    else
    {
        <p>No existen registros</p>
    }
</div>